<%= form_with(model: monument) do |form| %>
  <% if monument.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(monument.errors.count, "error") %> prohibited this monument from being saved:</h2>

      <ul>
        <% monument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :opening_date, style: "display: block" %>
    <%= form.date_field :opening_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
