<%= simple_form_for monument do |form| %>
  <% if monument.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(monument.errors.count, "error") %> prohibited this monument from being saved:</h2>

      <ul>
        <% monument.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :address %>
  <%= form.input :opening_date, as: :date %>

  <div class="form-actions">
    <%= form.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
